<%- include("partials/header"); -%>

<form class="" action="add_student" method="post">
    <div class="form-group mb-3">    
        <label >Name</label>
        <input class="form-control" type="text" name="name" required>  

        <div class="row">
            <div class="dropdown col">
                <select class="form-select" name="faculty" required>
                    <option selected disabled value="">Faculty</option>       
                    <option value="Филологический факультет">Филологический факультет</option>
                    <option value="Факультет башкирской и тюркской филологии" >Факультет башкирской и тюркской филологии</option>
                    <option value="Исторический факультет" >Исторический факультет</option>
                    <option value="Факультет математики и информационных технологий" >Факультет математики и информационных технологий</option>
                    <option value="Естественнонаучный факультет" >Естественнонаучный факультет</option>
                    <option value="Факультет педагогики и психологии" >Факультет педагогики и психологии</option>
                    <option value="Экономический факультет" >Экономический факультет</option>
                    <option value="Юридический факультет" >Юридический факультет</option>
                    <option value="Колледж" >Колледж</option>
                    <option value="Физическая культура и адаптивная физическая культура">Физическая культура и адаптивная физическая культура</option>
                    <option value="Аспирантура">Аспирантура</option>
                </select>    
            </div>
            
            <div class="dropdown col">
            <select class="form-select" name="course" required>
                <option selected disabled value="">Курс</option>       
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
            </div>
        </div>
        
        <label>Group</label>
        <input class="form-control" type="text" name="group" required>    
    </div>      
    <button type="submit" class="btn btn-primary">Add New Student</button>
</form>


<%- include("partials/footer"); -%>