<%- include("partials/header"); -%>

<a class="btn btn-primary" href="/add_student" role="button">Add Student</a>
<table class="table">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Faculty</th>
    <th scope="col">Course</th>
    <th scope="col">Group</th>
  </tr>
</thead>
<tbody>
  <tr>        
    <td>Name</td>
    <td>Faculty</td>
    <td>Course</td>
    <td>Group</td>
  </tr>
  <tr>
    <td>Jay Bhakhar</td>  
    <td>ФМиИТ</td>
    <td>4</td>
    <td>АР41</td>
  </tr>
</tbody>
</table>



<%- include("partials/footer"); -%>
